
.header {
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    display: flex;
}

.header h1 {
    font-size: 48px;    
}

.header h1 .Kurzawa {
    color: rgb(156, 152, 152);
}

.header a {
    color: #ffffff;
    font-size: 1.5rem;
}

.header-right {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
}

.header-left {
    flex-grow: 1;
}

h2 {
    font-size: 50px; 
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    border-right: 2px solid black;
    margin: 10px 20px 10px 10px;
    min-width: 350px
    
    
}

#contact ul {
    display: flex;
}

#contact ul li {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    display: flex;
    align-items: center;
    margin-right: 75px;

}

#contact ul li a {
    color: black;
}


.innercontentblock {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.innercontentblock h2 {
    width: 30%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 770px;
}

.project img {
  margin: 10px;
  border: 2px solid black;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    max-width: 620px;
    max-height: 150px;
    margin-top: 16px;
    margin-bottom: 40px;
    margin-right: 130px;
    font-size: 18px;
}

.guitar img {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .guitar {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .guitar  {
        width: 100%;
    }
}
    


